/* +++++++++++++++++++++++ COMMON STYLE +++++++++++++++++++++++ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.w-60 {
    width: 60%;
    margin: 0 auto;
}

.debug .bg-blu-home-page,
.debug .bg-white-home-page,
.debug .business-choice div {
    min-height: 150px;
}

/* +++++++++++++++++++++++ HEADER STYLE +++++++++++++++++++++++ */

header {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

.left-header {
    /* display: flex; */
    align-items: center;
    background-color: blue;
}

.right-header {
    background-color: green;
}

header a {
    background-color: red;
    padding: 0.5rem;
}

/* +++++++++++++++++++++++ HEADER STYLE +++++++++++++++++++++++ */
.home-page {
    position: relative;
}

.bg-blu-home-page {
    width: 100%;
    background-color: green;
}

.bg-white-home-page {
    width: 100%;
    background-color: blueviolet;
}

.container-home-page {
    position: absolute;
    top: 1rem;
    left: calc(30% / 2);
    width: 70%;
    height: 180px;
    background-color: red;
}

.testo-btn {
    width: 30%;
    background-color: yellow;
}

.img-home-page {
    width: 70%;
    background-color: grey;
}

/* +++++++++++++++++++++++ PIANO BUSINESS STYLE +++++++++++++++++++++++ */
.business-box {
    background-color: yellow;
}

.business-choice {
    /* display: flex; */
    justify-content: space-between;
    gap: 1rem;
}

.business-choice div {
    width: calc(100% / 3);
    border: 1px solid black;
}