/* +++++++++++++++++++++++ COMMON STYLE +++++++++++++++++++++++ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

main {
    padding-top: 3rem;
}

.flex {
    display: flex;
}

.w-55 {
    width: 55%;
    margin: 0 auto;
    max-width: 1000px;
}


.bg-verde-acqua {
    background-color: #A2D39B;
}

.bg-marrone-rosso {
    background-color: #61082B;
}

.bg-azzurro {
    background-color: #0093CE;
}

.bg-rosso {
    background-color: #FF1C1C;
}

.bg-blue {
    background-color: #0D2481;
}

.bg-azzurro-chiaro {
    background-color: #B4D0E7;
}

.bg-giallo {
    background-color: #FFD830;
}

.button-blue {
    background-color: #0061FF;
    color: white;
    border: 0;
    padding: 0.5rem 0.7rem;
}


header a:hover {
    border-bottom: 1px solid black;
}

/* +++++++++++++++++++++++ HEADER STYLE +++++++++++++++++++++++ */

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 3rem;
    background-color: white;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    ;
}

.left-header,
.right-header {
    /* display: flex; */
    align-items: center;
}

img {
    margin: 1rem;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 0.7rem;
    padding: 0.8rem 0.5rem;
}

.right-header button {
    margin: 0 0.5rem;
}

/* +++++++++++++++++++++++ HOME PAGE STYLE +++++++++++++++++++++++ */

.home-page {
    position: relative;
}

.bg-blu-home-page {
    height: 85%;
    width: 100%;
    background-color: #B4D0E7;
    position: absolute;
    top: 0;
}

.bg-white-home-page {
    height: 15%;
    width: 100%;
    /* background-color: blueviolet; */
    position: absolute;
    bottom: 0;
}

/* ???????  */
.container-home-page {
    position: relative;
    max-width: 1400px;
    width: 70%;
    margin: 0 auto;
    /* background-color: red; */
}

.container-home-page h1 {
    font-size: 4rem;
    padding: 3rem 0;
}

.text-btn-home-page {
    width: 30%;
    /* background-color: yellow; */
}

.text-btn-home-page button {
    display: block;
    margin: 1.5rem 0;
}

.text-btn-home-page a {
    text-decoration: none;
    color: black;
}

.fa-arrow-down {
    display: block;
    font-size: 2rem;
    margin-top: 2rem;
}

.img-home-page {
    width: 70%;
    /* background-color: grey; */
}

.img-home-page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

/* +++++++++++++++++++++++ PIANO BUSINESS STYLE +++++++++++++++++++++++ */
.business-box {
    /* background-color: yellow; */
    margin-top: 3rem;
}

form h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

#f-mensile {
    margin-right: 1.5rem;
}

.business-choice {
    margin-top: 2rem;
    /* display: flex; */
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem;
}

.business {
    width: calc(96% / 3);
    border: 1px solid black;
}

.destinatario {
    display: inline-block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 0.5rem;
    /* background-color: red; */
}

.destinatario i {
    margin-right: 0.5rem;
}

.inner-business {
    padding: 2rem 2rem;
    /* display: flex; */
    flex-direction: column;
}


.span-grigio {
    color: grey;
    margin-bottom: 2rem;
}

.span-prezzo {
    font-weight: bold;
    padding: 0.5rem 0;
}

.inner-business p {
    margin-bottom: 1rem;
}

.inner-business i {
    margin-right: 0.5rem;
    padding-top: 0.2rem;
}

.inner-business button {
    margin: 1.5rem 0;
}

.inner-business p a,
.fa-check {
    color: blue;
}

.inner-business h4 {
    margin-bottom: 2rem;
}

.riga {
    width: 25%;
    border: 1px solid grey;
    margin: 1.5rem 0 3rem;
}



.office-contact {
    margin-top: 1rem;
    padding-bottom: 2rem;
    border: 1px solid black;
    /* background-color: green; */
}

.office-contact>p {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
}

.right-inner-office-contact {
    width: 40%;
}

.left-inner-office-contact {
    padding-left: 2rem;
}

.left-inner-office-contact h2 {
    margin-bottom: 1rem;
}

.left-inner-office-contact span {
    display: inline-block;
    margin-bottom: 2.5rem;
    font-weight: bold;
}

/* +++++++++++++++++++++++ TROVA PARTNER STYLE +++++++++++++++++++++++ */

.find-partner {
    margin: 6rem auto 8rem;
    /* background-color: blue; */
}

.left-box-60 {
    width: 60%;
}

.left-box-60 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
}

.right-box-40 {
    width: 40%;
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2.5rem;
    margin-left: 1rem;
}

.right-box-40 p {
    margin: 1.5rem 0;
}

.white-button {
    padding: 0.5rem 1rem;
    background-color: white;
}


/* +++++++++++++++++++++++ OPERAZIONI STYLE +++++++++++++++++++++++ */
.operazioni-drop h1 {
    font-size: 2rem;
}

.container-card {
    margin: 4rem 0 10rem;
    /* display: flex; */
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: violet; */
}

.inner-card {
    width: 32%;
    padding-bottom: 4rem;
    /* background-color: yellow; */
}

.inner-card img {
    width: 100%;
    display: block;
    margin: 0;
}

.inner-card h2 {
    margin: 1rem 0;
    font-size: 1.2rem;
}


/* +++++++++++++++++++++++ CLIENTI DROPBOX STYLE +++++++++++++++++++++++ */
.box-clienti a {
    color: blue;
    margin: 2rem 0 8rem;
    display: inline-block;
}

.box-clienti h1 {
    font-size: 2rem
}

/* +++++++++++++++++++++++ PARTNERSHIP STYLE +++++++++++++++++++++++ */
.partner-box {
    max-width: 2500px;
    margin: auto;
    /* display: flex; */
}

.box-3 {
    width: calc(100% / 3);
    /* display: flex; */
    flex-wrap: wrap;
    height: 50vh;
}

.partnership-img {
    /* display: flex; */
    width: 50%;
    height: 50%;
}

.partnership-img img {
    width: 50%;
    margin: auto;
    filter: invert();
}

.center-partner-box {
    padding: 1rem 2rem;
    font-size: 0.7rem;
}

.center-img {
    width: 50%;
    margin-bottom: 1rem;
}

#autore {
    display: block;
    margin-top: 2rem;
}

/* +++++++++++++++++++++++ PROVA GRATUITA STYLE +++++++++++++++++++++++ */
.box-prova {
    max-width: 2500px;
    margin-bottom: 6rem;
}

.free-prove {
    padding: 5rem 0 5rem 7rem;
}

.free-prove h1 {
    width: 40%;
    color: #61082B;
}

.free-prove button {
    border: 0;
    margin-left: 5rem;
}

/* +++++++++++++++++++++++ INFO STYLE +++++++++++++++++++++++ */
.info-box h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.domanda {
    /* display: flex; */
    justify-content: space-between;
    padding: 2rem 0;
    border-top: 1px solid black;
    font-weight: bold;
}

.risposta {
    display: none;
}

.answer-box:hover .risposta {
    display: block;

}

.border-bottom {
    border-bottom: 1px solid black;
    margin-bottom: 8rem;
}